:root {
    --shadowColor: hsla(0, 0%, 0%, 0.08);
}

body {
    font-family: Roboto;
    background: #f0f3f7;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

form {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 600px;
    margin: 0 auto;
    padding: 2em 1.5em;
    background: white;
    margin-top: 20px;
}

label {
    text-align: center;
    display: block;
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 3px 2px -2px var(--shadowColor);
}

input {
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px 0 var(--shadowColor);
    font-size: 14px;
    padding: 0.8em 1em;
    box-sizing: border-box;
    border: 1px solid var(--shadowColor);
    margin-bottom: 1em;
    outline: 0;
}

select {
    text-align-last: right;
    padding-right: 29px;
}

button {
    color: white;
    background: #27315d;
    width: 100%;
    padding: 0.8em 1em;
    border-radius: 5px;
    font-size: 1em;
}

.preview {
    position: relative;
}

.preview img {
    max-width: 100%;
}

.preview p {
    position: absolute;
    background: white;
    left: 5px;
    top: 5px;
}

.table-container {
    margin-top: 2em;
    overflow-x: auto;
    width: 800px;
}

.bg-primary {
    background: #27315d !important;
    color: white;
}

#loader {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-primary {
    color: #27315d !important;
}

#result {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #27315d;
}

.json-result-container {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 600px;
    margin: 20px;
    padding: 2em 1.5em;
    background: white;
}

header {
    background: #27315d;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: 400;
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 24px;
    padding-right: 24px;
}

header img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 12px;
}

ul {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.separador {
    width: 100%;
    margin-top: 10px;
}

.header-space {
    height: 85px;
    width: 100%;
}
